{% extends "base.html" %}

{% block content%}
    <div class="d-flex flex-wrap">
        {% comment %} for side bar containing categories {% endcomment %}
        <div class="col-2 mt-5 pt-5 ps-5">
            {% for cat in category %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" id="{{cat.id}}" />
                    <label class="form-check-label" for="{{cat.id}}">
                        <a href="{% url 'category_wise_post' cat.slug%}">
                            {{cat.name}}
                        </a>
                    </label>
                </div>
            {% endfor %}
        </div>
        {% comment %} posts {% endcomment %}
        <div class="col-10">
            <div class="d-flex flex-wrap justify-content-center px-5 m-5 ">
                {% for post in data%}
                 <div class="col-sm-4 p-3">
                     <div class="card">
                     <div class="card-body">
                         <h5 class="card-title">{{post.title}}</h5>
                         <p class="card-text">{{post.content}}</p>
                         <p class='card-text'>Author : {{post.author.first_name}} {{post.author.last_name}}</p>
                         <p>
                             Category : 
                             {% for cat in post.category.all %}
                             <button class='btn btn-primary btn-sm disabled rounded rounded-3'>{{cat.name}}</button>
                             {% endfor%}
                         </p>
                     </div>
                     </div>
                 </div>
                {% endfor%}
            </div>
        </div>
    </div>

{% endblock %}